Repository meddsai/Web3EMR: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, prettier, eslint

rustfmt:
  name: rustfmt
  entry: bash -c 'cd backend && cargo fmt -- --check'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --check .'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint .'
  language: system
  pass_filenames: false

Implement core patient/encounter schema, migrations, Docker and documentation updates for custom PG port
  README.md
  backend/.dockerignore
  backend/Dockerfile
  backend/README.md
  backend/diesel.toml
  backend/migrations/2025-04-25-004225_create_core_tables/down.sql
  backend/migrations/2025-04-25-004225_create_core_tables/up.sql
  backend/src/models/mod.rs
  backend/src/schema.rs
  docker-compose.yml
  frontend/Dockerfile
  get-docker.sh
  tasks/task_001.txt
  tasks/task_002.txt
  tasks/task_003.txt
  tasks/task_004.txt
  tasks/task_005.txt
  tasks/task_006.txt
  tasks/task_007.txt
  tasks/task_008.txt
  tasks/task_009.txt
  tasks/task_010.txt
  tasks/tasks.json
Due: rustfmt, prettier

ci: update Rust toolchain to 1.78.0 for Diesel 2.2.9+ compatibility
  .github/workflows/ci.yml
Due: none

chore: reinit task-master for task management
  .env.example
  .roo/rules-architect/architect-rules
  .roo/rules-ask/ask-rules
  .roo/rules-boomerang/boomerang-rules
  .roo/rules-code/code-rules
  .roo/rules-debug/debug-rules
  .roo/rules-test/test-rules
  .roo/rules/dev_workflow.md
  .roo/rules/roo_rules.md
  .roo/rules/self_improve.md
  .roo/rules/taskmaster.md
  .roomodes
  .taskmaster/config.json
  .taskmaster/templates/example_prd.txt
Due: prettier

chore: update README for attestation update
  README-task-master.md
  README.md
Due: prettier

chore: update README for attestation update
  README.md
  scripts/example_prd.txt
Due: prettier

chore: update Substrate-based blockchain target
  README.md
Due: prettier

chore: update emr and attesthation pallets intro
  README.md
Due: prettier

chore: add Product Requirement Document (PRD) file
  .taskmaster/templates/PRD.txt
  README.md
Due: prettier

chore: add Cursor and Windsurf support
  .cursor/mcp.json
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/dev_workflow.mdc
  .cursor/rules/self_improve.mdc
  .cursor/rules/taskmaster.mdc
  .gitignore
  .windsurfrules
  README.md
Due: prettier

docs: fix typo
  README.md
Due: prettier

docs: add badges
  README.md
Due: prettier

chore: extend blockchain veretality
  README.md
Due: prettier

chore: expand PRD into Phase-based approach
  .taskmaster/templates/PRD-Phase-1.txt
  .taskmaster/templates/PRD-Phase-2.txt
  .taskmaster/templates/PRD-Phase-3.txt
  .taskmaster/templates/PRD-Phase-4.txt
  .taskmaster/templates/PRD-Phase-5.txt
Due: none

Add backend directory and update PRD templates
  .taskmaster/templates/PRD-Phase-6.txt
  .taskmaster/templates/PRD.txt
  README.md
  backend/enterprise-integration/README.md
Due: prettier

Add initial task definitions and update taskmaster config
  .taskmaster/config.json
  .taskmaster/tasks/task_001.txt
  .taskmaster/tasks/task_002.txt
  .taskmaster/tasks/task_003.txt
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/task_005.txt
  .taskmaster/tasks/task_006.txt
  .taskmaster/tasks/task_007.txt
  .taskmaster/tasks/task_008.txt
  .taskmaster/tasks/task_009.txt
  .taskmaster/tasks/task_010.txt
  .taskmaster/tasks/tasks.json
Due: prettier

Update project to use Polkadot SDK instead of Substrate Node Template
  .taskmaster/config.json
  .taskmaster/tasks/task_001.txt
  .taskmaster/tasks/tasks.json
  README.md
Due: prettier

Update all PRD files to reflect Polkadot SDK integration
  .taskmaster/templates/PRD-Phase-1.txt
  .taskmaster/templates/PRD-Phase-2.txt
  .taskmaster/templates/PRD-Phase-3.txt
  .taskmaster/templates/PRD-Phase-4.txt
  .taskmaster/templates/PRD-Phase-5.txt
  .taskmaster/templates/PRD-Phase-6.txt
  .taskmaster/templates/PRD.txt
Due: none

Update tech stack to use Polkadot SDK, Identity, and CESS storage
  .taskmaster/tasks/task_001.txt
  .taskmaster/tasks/task_002.txt
  .taskmaster/tasks/task_003.txt
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/task_005.txt
  .taskmaster/tasks/tasks.json
  .taskmaster/templates/PRD-Phase-1.txt
  .taskmaster/templates/PRD-Phase-2.txt
  .taskmaster/templates/PRD.txt
  README.md
Due: prettier

Update PRD with Polkadot SDK, People Chain, and CESS integration
  .taskmaster/templates/PRD.txt
Due: none

refactor: update all PRD phases with Polkadot Identity and CESS integration
  .taskmaster/tasks/task_001.txt
  .taskmaster/tasks/task_002.txt
  .taskmaster/tasks/task_003.txt
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/task_005.txt
  .taskmaster/tasks/task_006.txt
  .taskmaster/tasks/task_007.txt
  .taskmaster/tasks/task_008.txt
  .taskmaster/tasks/task_009.txt
  .taskmaster/tasks/task_010.txt
  .taskmaster/tasks/tasks.json
  .taskmaster/templates/PRD-Phase-1.txt
  .taskmaster/templates/PRD-Phase-2.txt
  .taskmaster/templates/PRD-Phase-3.txt
  .taskmaster/templates/PRD-Phase-4.txt
  .taskmaster/templates/PRD-Phase-5.txt
  .taskmaster/templates/PRD-Phase-6.txt
Due: prettier

chore: reparse PRD-Phase-1
  .taskmaster/tasks/task_001.txt
  .taskmaster/tasks/task_002.txt
  .taskmaster/tasks/task_003.txt
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/task_005.txt
  .taskmaster/tasks/task_006.txt
  .taskmaster/tasks/task_007.txt
  .taskmaster/tasks/task_008.txt
  .taskmaster/tasks/task_009.txt
  .taskmaster/tasks/task_010.txt
  .taskmaster/tasks/tasks.json
Due: prettier

refactor: clean up and organize .gitignore file
  .dockerignore
  .gitignore
  .taskmaster/.taskmaster/config.json
  .taskmaster/tasks/task_001.txt
  .taskmaster/tasks/tasks.json
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Dockerfile
  dev_chain_spec.json
  node/Cargo.toml
  node/README.md
  node/build.rs
  node/src/chain_spec.rs
  node/src/cli.rs
  node/src/command.rs
  node/src/lib.rs
  node/src/main.rs
  node/src/rpc.rs
  node/src/service.rs
  pallets/README.md
  pallets/template/Cargo.toml
  pallets/template/src/lib.rs
  runtime/Cargo.toml
  runtime/README.md
  runtime/build.rs
  runtime/src/lib.rs
  zombienet-omni-node.toml
  zombienet.toml
Due: rustfmt, prettier

Path conditions:
  rustfmt: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|md)$
  eslint: any of: \.(js|jsx|ts|tsx)$
